.cell {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: transparent;
  border: none;

  &Highlight {
    background: #312e2b63;;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transform: translate(50%, -50%);
    z-index: 5;
  }

  & .active {
    background: var(--highlight-color) !important;
  }
}
