.cell {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: transparent;

  &-highlight {
    background: #c8ee40;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transform: translate(50%, -50%);
    border: 1px solid black;
  }
}
