.userAvatar {

  &Container {
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 5px;
  }
  &Image {
    width: 60px;
    height: 60px;
  }

  &ImageBorder {
    padding: 5px 5px 0;
    border: solid 1px #706060;
    width: min-content;
    height: min-content;
  }
}