.header {
  display: flex;
  flex-direction: row;
  align-self: start;
  float: right;
  width: 100%;
  height: auto;
  position: fixed;
  justify-content: flex-end;
  overflow: auto;
  top: 0;
  right: 0;
  padding: 15px 40px;
}

.headerList {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.loginButton {
  float: end;
}

.link {
  text-decoration: none;
  color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  margin-right: calc(100% - 45px);
}
